@font-face {
  font-family: 'Cairo';
  src: url('/src/fonts/Cairo/Cairo-VariableFont_wght.ttf') format('ttf');
}

body {
  margin: 0;
  font-family : 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

