.container{
    width: 80%;
    margin: auto;
}

.navbar{
    height: auto;
    overflow: hidden;
    background-color: #CC8C29;
    color: #fff;
    margin-bottom: 15PX;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navContainer .img{
    width:200px;
    /* height: 100px; */
}
.navContainer .img img{
    width:100%;
}

.logo{
    font-size: 35px;
    width:60%;
    float:right;
    display:block;
    margin: 10px 0;
    color:#fff;
    text-decoration: none;
}

ul{
    display:flex;
    font-size: 15px;
    width:40%;
    float:right;
    margin: 10px 0;
    float:right;
    padding:0;
    text-align: right;
}

ul a{
    text-decoration: none !important;
    color:#fff !important;
    margin:0 15px !important;
    /* border-bottom: azure solid; */
    font-weight: bold;

}
.active{
    border-bottom: azure solid;
}